---
layout: default
---
{% assign letters = "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z" | split: ' ' %}
<div class="home">
  <h1 class="page-heading">All Creatures</h1>
  <p id="creatureSearch">Search by name: <input type="search" id="jetsSearch"></p>
  <p id="sortBy">Sort By: <a href="{{site.baseurl}}/">CR</a> <a href="{{site.baseurl}}/byname">name</a></p>
  <dl class="tag-list">
    <dt>Letter:</dt>
    {% for l in letters %}
    <dd>
      <a href="#{{l}}">{{l}}</a>
    </dd>
    {% endfor %}
  </dl>
  {% assign post_list = site.posts | sort: 'title' %}
  {% assign cur_letter = post_list.first.title | slice: 0 %}
  <a id="{{cur_letter}}"></a>
  <h2 class="post-list-head jetsHide">{{cur_letter}}</h2>
  <ul class="post-list jetsContent">
  {% for post in post_list %}
    {% assign f_letter = post.title | slice: 0 %}
    {% if f_letter != cur_letter %}
      {% assign cur_letter = f_letter %}
      </ul>
      <a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
      <a id="{{cur_letter}}"></a>
      <h2 class="post-list-head jetsHide">{{cur_letter}}</h2>
      <ul class="post-list jetsContent">
    {% endif %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>  
  {% endfor %}
  </ul>
  <a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
