---
layout: default
---
{% assign letters = "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z" | split: ' ' %}
{% assign all_creatures = site.creatures | sort: 'name' %}
<div class="home">
  <h1 class="page-heading">All Creatures</h1>
  <p id="creatureSearch" class="search-bar">
    <span class="fa fa-search icon"></span>
    <input type="search" class="jetsSearch" id="jetsSearch" placeholder="Search by name">
  </p>
  <p id="sortBy">Sort By: <a href="{{ site.baseurl }}/cr">CR</a> <a href="{{ site.baseurl }}/">name</a></p>

  <dl class="tag-list">
    <dt class="spacing">Letter:</dt>
    {% for letter in letters %}
    <dd class="spacing">
      <a href="#{{ letter }}">{{ letter }}</a>
    </dd>
    {% endfor %}
  </dl>
  {% for letter in letters %}
  <a id="{{ letter }}"></a>
  <h2 class="post-list-head jetsHide">{{ letter }}</h2>
  <ul class="post-list jetsContent">
    {% for creature in all_creatures %}
    {% assign l = creature.name | slice: 0 %}
    {% if l != letter %}{% continue %}{% endif %}
    <li>
      <a class="post-link" href="{{ creature.url | prepend: site.baseurl }}">{{ creature.name }}</a>
    </li>
    {% endfor %}
  </ul>
  <a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
  {% endfor %}
