<dl class="tag-list">
  <dt class="spacing">Challenge Rating:</dt>
  {% for cr in cr-tags %}
    <dd class="spacing">
      <a href="#cr{{ cr }}">{{ cr }}</a>
    </dd>
  {% endfor %}
</dl>
{% for cr in cr-tags %}
  {% assign tag = "cr" | append: cr %}
  {% assign creatures = all_creatures | where: 'tags', tag %}
  {% if creatures.size > 0 %}
    <a id="{{ tag }}"></a>
    <h2 class="post-list-head jetsHide">Challenge {{ cr }}</h2>
    <ul class="post-list jetsContent">
      {% for creature in creatures | sort: 'name %}
        <li>
          <a class="post-link" href="{{ creature.url | prepend: site.baseurl }}">{{ creature.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <a class="post-meta jetsHide" href="#top">Back to top &#8593;</a>
  {% endif %}
{% endfor %}
