---
layout: default
---
<div class="post">
  <h1 class="page-heading">{{ page.name }}</h1>
  <p id="creatureSearch" class="search-bar">
    <span class="fa fa-search icon"></span>
    <input type="search" class="jetsSearch" id="jetsSearch" placeholder="Search by name">
  </p>
  {% assign all_creatures = site.creatures | where: 'tags', page.tag %}
  {% assign cr-tags = "" | split: "" %}
  {% for cr in site.data.challenge_ratings %}
  {% assign tag = "cr" | append: cr %}
  {% assign creatures = all_creatures | where: 'tags', tag %}
  {% if creatures.size > 0 %}
  {% assign tmp = cr | split: " " %}
  {% assign cr-tags = cr-tags | concat: tmp %}
  {% endif %}
  {% endfor %}
  {% include challenge_rating.html %}
</div>
